<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>о сайте</title>
    <style type="text/css">
   .back {
    width: 70;
    background: #423c63;
    color: #ffffff;
    padding:-5px;
    padding-right: 15px;
    border: solid 1px black;
    float: left;
    top:9;
    left:0;
    border-radius: 10px;
    }
    .noobject {
    width: 400px;
    padding: 10px;
    }

    .noobject1 {
    width: 400px;
    padding: 30px;
    }
    .noobject2 {
    width: 400px;
    padding: 50px;
    }



    </style>

</head>
<body>
<div class="back">
    <a href="index_new.html" style="text-decoration: none; "><p><font size="3" color="white" face="century gothic">&nbsp<< &nbsp назад </p></a>
</div>
<h4 align="center"><font size="5.5" color="black" face="century gothic">О сайте</h4>


<div class="noobject1">
</div>

<address>
    Email: <a href="mailto:Arina2030620@yandex.ru">моя почта</a>
    VK: <a href="https://vk.com/arina___grigoryeva">вк</a>
</address>
<div class="noobject1">
</div>

<p><b>Материалы использованы с сайтов:</b></p>
<a href="https://arzamas.academy/materials/1941">https://arzamas.academy/materials/1941</a>
<div class="noobject">
</div>
<a href="https://ethnomir.ru/articles/istoriya-metro/">https://ethnomir.ru/articles/istoriya-metro/</a>
<div class="noobject">
</div>
<a href="https://www.mos.ru/news/item/28604073/">https://www.mos.ru/news/item/28604073/</a>
<div class="noobject">
</div>
<a href="https://www.m24.ru/articles/metro/14042017/132717">https://www.m24.ru/articles/metro/14042017/132717</a>
<div class="noobject">
</div>
<a href="https://translated.turbopages.org/proxy_u/en-ru.ru.35f8e92a-62777c4d-46ebfab4-74722d776562/https/en.wikipedia.org/wiki/Liziba_station">wikipedia.org</a>
<div class="noobject">
</div>
<a href="https://italy4.me/campagna/napoli/toledo-stanciya-metro-v-neapole.html">https://italy4.me/campagna/napoli/toledo-stanciya-metro-v-neapole.html</a>
<div class="noobject">
</div>
<a href="https://fishki.net/11660-50-faktov-o-moskovskom-metro.html">https://fishki.net/11660-50-faktov-o-moskovskom-metro.html</a>
<div class="noobject">
</div>
<a href="https://www.iphones.ru/iNotes/693158">https://www.iphones.ru/iNotes/693158</a>


<div class="noobject2">
</div>


<p><font size="3" color="grey" face="footlight mt light">Автор сайта не несет ответсвенность за информацию размещенную
    на данном сайте, и ни в коем случае не присваивает себе её принадлежание. Сайт создан в учебных целях.</p>


</body>
</html>