<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>загрузка</title>
    <style type="text/css">
   .back {
    width: 70;
    background: #423c63;
    color: #ffffff;
    padding:-5px;
    padding-right: 15px;
    border: solid 1px black;
    float: left;
    top:9;
    left:0;
    border-radius: 10px;
    }

    </style>
</head>
<body>
<div class="back">
    <a href="index_new.html"  style="text-decoration: none; "><p><font size="3" color="white" face="footlight mt light">&nbsp&nbsp<< &nbsp назад </p></a>
</div>
<h1 align="center"><font size="5" color="black" face="century gothic">Ваши отзывы</font>
    <h2><font size="3" color="black" face="century gothic"> {{table}}</h2>


</body>
</html>